<%= form_failure_message @color %>

<%= form_for @color, url: @color.new_record? ? backend_color_index_path : backend_color_path(@color) ,html: { role: 'form' } do |f| %>
  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control', placeholder: 'Color Name' %>
  </div>
  <div class="form-group">
    <%= f.label :hex %>
    <%= f.text_field :hex, class: 'form-control', placeholder: 'Color Hex' %>
  </div>

  <div class="form-group">
    <%= f.submit 'Save', class: 'btn btn-primary' %>
    <%= link_to 'Back', backend_color_index_path, class: 'btn btn-default' %>
  </div>
<% end %>
