<h3><i class="fa fa-angle-right"></i> Show Product Merk</h3>
<div class="row mt">
  <div class="col-lg-12">
    <div class="content-panel">
      <section id="unseen">
        <div class="unseen-margin">
          <div class="panel-body">
            <dl>
              <dt>Name</dt>
              <dd><%= @color.name %></dd>
            </dl>
            <dl>
              <dt>Hash</dt>
              <dd><%= @color.hex %></dd>
            </dl>
            <dl>
              <dt>Image</dt>
              <dd>
                <div style="background-color: <%= "##{ @color.hex}" %>;height:100px;width:100px;"></div>
              </dd>
            </dl>
            <div class="form-group">
              <%= link_to 'Edit', edit_backend_color_path(@color), class: 'btn btn-primary' %>
              <%= link_to 'Back', backend_color_index_path, class: 'btn btn-default' %>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
