<%= form_failure_message @product %>

<%= nested_form_for @product,url: @product.new_record? ? backend_product_index_path : backend_product_path(@product) ,html: { role: 'form' } do |f| %>
  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control', placeholder: 'Name' %>
  </div>
  <div class="form-group">
    <%= f.label :code %>
    <%= f.text_field :code, class: 'form-control', placeholder: 'Code' %>
  </div>
  <div class="form-group">
    <%= f.label :keywords %>
    <%= f.text_field :keywords, class: 'form-control', placeholder: 'Keywords' %>
  </div>
  <div class="form-group">
    <%= f.label :short_description %>
    <%= f.text_field :short_description, class: 'form-control', placeholder: 'Short Description' %>
  </div>
  <div class="form-group">
    <%= f.label :description %>
    <%= f.text_area :description, class: 'form-control', placeholder: 'Description' %>
  </div>
  <div class="form-group">
    <%= f.label :unit_price %>
    <%= f.text_field :unit_price, class: 'form-control', placeholder: 'Unit Price' %>
  </div>
  <div class="form-group">
    <%= f.label :unit_cost %>
    <%= f.text_field :unit_cost, class: 'form-control', placeholder: 'Unit Cost' %>
  </div>
  <div class="form-group">
    <%= f.label :tax %>
    <%= f.text_field :tax, class: 'form-control', placeholder: 'Tax ( % )' %>
  </div>
  <div class="form-group">
    <%= f.label :texture %>
    <%= f.text_field :texture, class: 'form-control', placeholder: 'Texture' %>
  </div>
  <div class="form-group">
    <%= f.label :merk, 'Merk' %>
    <%= f.select :merk_id, merk_collection, { include_blank: 'Select Merk' }, id: 'merk_id', class: 'form-control selectpicker', data: { live_search: "true" }  %>
  </div>
  <div class="form-group">
    <%= f.label :sub_category, 'subcategory' %>
    <%= f.select :sub_category_id, subcategories_collection, { include_blank: 'Select Subcategory' }, id: 'sub_categories_id', class: 'form-control selectpicker', data: { live_search: "true" }  %>
  </div>
  <div class="form-group">
    <%= f.submit 'Save', class: 'btn btn-primary' %>
    <%= link_to 'Back', backend_product_index_path, class: 'btn btn-default' %>
  </div>
<% end %>
