<!DOCTYPE html>
<html>
<head>
  <title>Clothing Shop Backend</title>
  <%= stylesheet_link_tag    'backend', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'backend', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<section id="container" >
  <%= render file: '/backend/shared/top_nav' %>
  <%= render file: '/backend/shared/aside' %>
  <section id='main-content'>
    <section class='wrapper'>
      <%= bootstrap_flash %>
      <%= yield %>
    </section>
  </section>
</section>
</body>
</html>
